[submodule "android_projects"]
	path = android_projects
	url = https://github.com/bounclown/android_projects.git
[submodule "third_party/implot"]
	path = third_party/implot
	url = https://github.com/epezent/implot.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "third_party/android_projects"]
	path = third_party/android_projects
	url = https://github.com/bounclown/android_projects.git
